﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Media_QuickTime"  Codebehind="~/CMSWebParts/Media/QuickTime.ascx.cs" %>
<asp:Literal ID="ltlPlaceholder" runat="Server" EnableViewState="false" />
<asp:Literal ID="ltlScript" runat="Server" EnableViewState="false" />