﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Media_RealMedia"  Codebehind="~/CMSWebParts/Media/RealMedia.ascx.cs" %>
<asp:Literal ID="ltlPlaceholder" runat="Server" EnableViewState="false" />
<asp:Literal ID="ltlScript" runat="Server" EnableViewState="false" />