﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSAdminControls_UI_Selectors_LoadGenerationSelector"  Codebehind="LoadGenerationSelector.ascx.cs" %>
<cms:CMSDropDownList runat="server" ID="drpGeneration" CssClass="DropDownField" />
