﻿@model List<DemoMVC.Domain.Data.custom_cheque>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Cheques";
}

<table class="table">
    <tr><th>Name</th><th>Date</th><th>Amount</th></tr>
    @foreach (var cheque in Model)
    {
        <tr>
            <td>@Html.ActionLink(@cheque.ChequeName, "Detail", new { id = @cheque.ChequeID }, null)</td>
            <td>@cheque.ChequeDate.ToString("dd/MM/yyyy")</td>
            <td>$@cheque.ChequeAmount.ToString("#,##0.00")</td>
        </tr>
    }
</table>

<div>
    @Html.Action("Top3", "Cheques")

</div>