@font-face {
    font-family:'Core-icons';
    src:url('Fonts/Core-icons.eot');
    src:url('Fonts/Core-icons.svg#Core-icons') format('svg'), 
    url('Fonts/Core-icons.eot?#iefix') format('embedded-opentype'), 
    url('Fonts/Core-icons.woff') format('woff'),
    url('Fonts/Core-icons.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    font-family:'Core-icons';
    display: inline-block;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: @base-unit;
    // Better Font Rendering in Chrome 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: none;
}
[class^="icon-"]:before {
    content: @icon-square;
}
.icon-only:before {
    content: none;
}
@icon-dots-vertical: "\e75d";
@icon-chain: "\e67f";
@icon-chain-slash: "\e691";
@icon-list-bullets: "\e754";
@icon-list-numbers: "\e75b";
@icon-eye-slash: "\e75c";
@icon-arrow-u-right: "\e703";
@icon-arrow-u-left: "\e677";
@icon-arrow-down: "\e682";
@icon-arrow-up: "\e64c";
@icon-arrow-left: "\e6dc";
@icon-arrow-right: "\e6da";
@icon-arrow-down-circle: "\e6ae";
@icon-arrow-left-circle: "\e6af";
@icon-arrow-right-circle: "\e6b1";
@icon-arrow-up-circle: "\e6bf";
@icon-arrow-left-rect: "\e6db";
@icon-arrow-right-rect: "\e6d9";
@icon-arrow-crooked-left: "\e6e0";
@icon-arrow-crooked-right: "\e6e1";
@icon-arrow-double-left: "\e6df";
@icon-arrow-double-right: "\e6de";
@icon-arrow-down-line: "\e6dd";
@icon-arrow-up-line: "\e6d3";
@icon-arrows: "\e6d7";
@icon-arrows-h: "\e6d5";
@icon-arrows-v: "\e6d4";
@icon-magnifier: "\e657";
@icon-magnifier-minus: "\e656";
@icon-magnifier-plus: "\e655";
@icon-minus: "\e73f";
@icon-loop: "\e600";
@icon-merge: "\e709";
@icon-separate: "\e70a";
@icon-scheme-circles-triangle: "\e73e";
@icon-market: "\e68e";
@icon-bubble-o: "\e6f3";
@icon-bubble-times: "\e6f2";
@icon-clapperboard: "\e636";
@icon-collapse: "\e745";
@icon-collapse-scheme: "\e700";
@icon-dialog-window: "\e6ff";
@icon-dialog-window-cogwheel: "\e71a";
@icon-doc-ban-sign: "\e6ef";
@icon-doc-o: "\e69c";
@icon-doc-user: "\e714";
@icon-expand: "\e744";
@icon-file: "\e719";
@icon-folder-belt: "\e715";
@icon-folder-o: "\e68b";
@icon-hat-moustache: "\e75a";
@icon-key: "\e65e";
@icon-rectangle-a: "\e61e";
@icon-rectangle-a-o: "\e623";
@icon-rectangle-o-h: "\e758";
@icon-rectangle-o-v: "\e759";
@icon-rectangle-paragraph: "\e625";
@icon-tab: "\e6fb";
@icon-file-pdf: "\e6a3";
@icon-graduate-cap: "\e713";
@icon-clipboard-list: "\e6a9";
@icon-user-checkbox: "\e603";
@icon-box-cart: "\e6cd";
@icon-bubble-censored: "\e6c2";
@icon-drawers: "\e699";
@icon-earth: "\e698";
@icon-form: "\e689";
@icon-invoice: "\e660";
@icon-mug: "\e644";
@icon-square-dashed-line: "\e617";
@icon-briefcase: "\e6c6";
@icon-funnel: "\e687";
@icon-map: "\e654";
@icon-notebook: "\e642";
@icon-piechart: "\e631";
@icon-user-frame: "\e604";
@icon-clipboard-checklist: "\e6aa";
@icon-pictures: "\e632";
@icon-flag: "\e68f";
@icon-folder: "\e68d";
@icon-folder-opened: "\e68a";
@icon-picture: "\e633";
@icon-bin: "\e6d0";
@icon-bubble: "\e6c3";
@icon-doc: "\e69f";
@icon-doc-move: "\e69d";
@icon-edit: "\e696";
@icon-menu: "\e650";
@icon-message: "\e64f";
@icon-user: "\e605";
@icon-monitor-broken: "\e70b";
@icon-monitor: "\e646";
@icon-chevron-down-line: "\e6c0";
@icon-chevron-left-line: "\e6d6";
@icon-chevron-right-line: "\e6e2";
@icon-chevron-up-line: "\e6ee";
@icon-pin-o: "\e705";
@icon-brand-sharepoint: "\e707";
@icon-heartshake: "\e681";
@icon-pin: "\e71e";
@icon-checklist: "\e61b";
@icon-watch: "\e601";
@icon-permission-list: "\e634";
@icon-users: "\e602";
@icon-brand-youtube: "\e659";
@icon-brand-pinterest: "\e6e3";
@icon-brand-open-id: "\e6e4";
@icon-two-rectangles-v: "\e606";
@icon-brand-linkedin: "\e6e5";
@icon-two-rectangles-h: "\e607";
@icon-brand-google-plus: "\e6e6";
@icon-t-shirt: "\e608";
@icon-xml-tag: "\e6e7";
@icon-truck: "\e609";
@icon-trophy: "\e60a";
@icon-rss: "\e6e9";
@icon-triangle-right: "\e60b";
@icon-restriction-list: "\e6ea";
@icon-translate: "\e60c";
@icon-qr-code: "\e6eb";
@icon-times-circle: "\e60d";
@icon-lock-unlocked: "\e6ec";
@icon-times: "\e60e";
@icon-dollar-sign: "\e6ed";
@icon-tag: "\e60f";
@icon-tablet: "\e610";
@icon-cb-check-disabled: "\e6f0";
@icon-table: "\e612";
@icon-carousel: "\e6f1";
@icon-star-full: "\e614";
@icon-star-semi: "\e613";
@icon-star-empty: "\e615";
@icon-arrows-crooked: "\e6f4";
@icon-staging-scheme: "\e616";
@icon-shopping-cart: "\e6f5";
@icon-highlighter: "\e6f6";
@icon-square-dashed: "\e618";
@icon-cookie: "\e6f7";
@icon-square: "\e619";
@icon-software-package: "\e61c";
@icon-smartphone: "\e61d";
@icon-scissors: "\e61f";
@icon-rotate-right: "\e620";
@icon-rotate-left: "\e621";
@icon-rotate-double-right: "\e622";
@icon-ribbon: "\e624";
@icon-rb-uncheck: "\e626";
@icon-rb-check-sign: "\e627";
@icon-question-circle: "\e629";
@icon-project-scheme: "\e62b";
@icon-process-scheme: "\e62c";
@icon-plus-square: "\e62d";
@icon-plus-circle: "\e62e";
@icon-plus: "\e62f";
@icon-placeholder: "\e630";
@icon-perfume: "\e635";
@icon-percent-sign: "\e638";
@icon-pda: "\e639";
@icon-pc: "\e63a";
@icon-pause: "\e63b";
@icon-parent-children-scheme: "\e63c";
@icon-paperclip: "\e63d";
@icon-pants: "\e63e";
@icon-palette: "\e63f";
@icon-organisational-scheme: "\e640";
@icon-newspaper: "\e643";
@icon-monitor-smartphone: "\e645";
@icon-modal-question: "\e647";
@icon-modal-minimize: "\e648";
@icon-modal-maximize: "\e649";
@icon-modal-close: "\e64a";
@icon-minus-circle: "\e64b";
@icon-microphone: "\e64d";
@icon-messages: "\e64e";
@icon-media-player: "\e651";
@icon-mask: "\e652";
@icon-map-marker: "\e653";
@icon-lock: "\e658";
@icon-life-belt: "\e65a";
@icon-laptop: "\e65d";
@icon-kentico: "\e65f";
@icon-integration-scheme: "\e661";
@icon-i-circle: "\e664";
@icon-chevron-up-square: "\e665";
@icon-chevron-up-circle: "\e666";
@icon-chevron-up: "\e667";
@icon-chevron-right-square: "\e668";
@icon-chevron-right: "\e669";
@icon-chevron-left-square: "\e66a";
@icon-chevron-left-circle: "\e66b";
@icon-chevron-left: "\e66c";
@icon-chevron-down-square: "\e66d";
@icon-chevron-down-circle: "\e66e";
@icon-chevron-down: "\e66f";
@icon-chevron-double-up: "\e670";
@icon-chevron-double-right: "\e671";
@icon-chevron-double-left: "\e672";
@icon-chevron-double-down: "\e673";
@icon-checklist2: "\e674";
@icon-check-circle: "\e675";
@icon-check: "\e676";
@icon-tags: "\e678";
@icon-shoe-women: "\e679";
@icon-printer: "\e67a";
@icon-parent-child-scheme: "\e67b";
@icon-minus-square: "\e67c";
@icon-light-bulb: "\e67d";
@icon-chevron-right-circle: "\e67e";
@icon-home: "\e680";
@icon-half-arrows-right-left: "\e683";
@icon-graph: "\e684";
@icon-factory: "\e690";
@icon-exclamation-triangle: "\e693";
@icon-ellipsis: "\e694";
@icon-ekg-line: "\e695";
@icon-doc-paste: "\e69a";
@icon-doc-copy: "\e69e";
@icon-database: "\e6a0";
@icon-cup: "\e6a2";
@icon-compass: "\e6a4";
@icon-cogwheel-square: "\e6a5";
@icon-cogwheels: "\e6a6";
@icon-cogwheel: "\e6a7";
@icon-circle-square: "\e6ab";
@icon-circle: "\e6ac";
@icon-cb-uncheck: "\e6ad";
@icon-cb-check-sign: "\e6b0";
@icon-caret-up: "\e6b2";
@icon-caret-right-down: "\e6b3";
@icon-caret-right: "\e6b4";
@icon-caret-left: "\e6b5";
@icon-caret-down: "\e6b6";
@icon-camera: "\e6b7";
@icon-calendar-number: "\e6b8";
@icon-calendar: "\e6b9";
@icon-bullseye: "\e6ba";
@icon-building-block: "\e6bb";
@icon-building: "\e6bc";
@icon-bug: "\e6bd";
@icon-bucket-shovel: "\e6be";
@icon-bubbles: "\e6c1";
@icon-brush: "\e6c4";
@icon-broom: "\e6c5";
@icon-brand-twitter: "\e6c7";
@icon-brand-google: "\e6c8";
@icon-brand-facebook: "\e6c9";
@icon-brand-bing: "\e6ca";
@icon-braces: "\e6cb";
@icon-boxes: "\e6cc";
@icon-box: "\e6ce";
@icon-ban-sign: "\e6d1";
@icon-badge: "\e6d2";
@icon-arrow-right-top-square: "\e6d8";
@icon-breadcrumb: "\e6f9";
@icon-clock: "\e6a8";
@icon-cloud: "\e701";
@icon-cb-check-preview: "\e702";
@icon-accordion: "\e704";
@icon-two-squares-line: "\e706";
@icon-money-bill: "\e708";
@icon-puzzle: "\e62a";
@icon-wizard-stick: "\e6fa";
@icon-lines-rectangle-o: "\e6fd";
@icon-doc-arrows: "\e6fe";
@icon-l-text-col: "\e685";
@icon-l-menu-text-col: "\e69b";
@icon-l-menu-cols-3: "\e6e8";
@icon-l-logotype-menu-v-col: "\e6fc";
@icon-l-logotype-menu-h-col: "\e70c";
@icon-l-header-cols-3-footer: "\e70d";
@icon-l-cols-80-20: "\e70e";
@icon-l-cols-20-80: "\e70f";
@icon-l-cols-4: "\e710";
@icon-l-cols-3: "\e711";
@icon-l-cols-2: "\e712";
@icon-bezier-scheme: "\e717";
@icon-note: "\e71c";
@icon-piechart-lines: "\e71d";
@icon-l-article-map: "\e721";
@icon-l-calendar-number-article: "\e722";
@icon-l-forms-2: "\e723";
@icon-l-header-cols-2-footer: "\e724";
@icon-l-header-list-img: "\e725";
@icon-l-header-menu-text: "\e726";
@icon-l-header-text: "\e727";
@icon-l-list-article: "\e728";
@icon-l-lightbox: "\e729";
@icon-l-img-3-cols-3: "\e72a";
@icon-l-img-2-cols-3: "\e72b";
@icon-l-text: "\e72c";
@icon-l-rows-4: "\e72d";
@icon-l-rows-3: "\e72e";
@icon-l-rows-2: "\e72f";
@icon-l-menu-text-col-bottom: "\e730";
@icon-l-menu-text: "\e731";
@icon-l-menu-list-img-col: "\e732";
@icon-l-menu-list-img: "\e733";
@icon-l-menu-list: "\e734";
@icon-l-menu-cols-2: "\e735";
@icon-l-logotype-menu-col-footer: "\e736";
@icon-l-list-title: "\e737";
@icon-l-list-img-article: "\e738";
@icon-l-list-article-col: "\e739";
@icon-tree-structure: "\e73a";
@icon-vb: "\e716";
@icon-crosshair-o: "\e71b";
@icon-crosshair-f: "\e71f";
@icon-caret-right-aligned-left: "\e720";
@icon-caret-left-aligned-right: "\e73b";
@icon-gauge: "\e686";
@icon-c-sharp: "\e718";
@icon-tab-vertical: "\e73c";
@icon-right-double-quotation-mark: "\e73d";
@icon-braces-octothorpe: "\e740";
@icon-outdent: "\e741";
@icon-indent: "\e742";
@icon-i: "\e743";
@icon-b: "\e746";
@icon-u: "\e747";
@icon-s: "\e748";
@icon-x: "\e749";
@icon-t-f: "\e74a";
@icon-t: "\e74b";
@icon-parent-child-scheme-2: "\e74c";
@icon-parent-child-scheme2: "\e74d";
@icon-doc-torn: "\e750";
@icon-f: "\e74e";
@icon-a-lowercase: "\e74f";
@icon-circle-slashed: "\e751";
@icon-one: "\e752";
@icon-diamond: "\e756";
@icon-choice-user-scheme: "\e753";
@icon-choice-single-scheme: "\e755";
@icon-choice-multi-scheme: "\e757";
@icon-book-opened: "\e6cf";
@icon-e-book: "\e697";
@icon-spinner: "\e61a";
@icon-layouts: "\e65b";
@icon-layout: "\e65c";
@icon-id-card: "\e663";
@icon-id-cards: "\e662";
@icon-l-grid-3-2: "\e611";
@icon-l-grid-2-2: "\e628";
@icon-l-cols-70-30: "\e637";
@icon-l-cols-30-70: "\e641";
@icon-l-cols-25-50-25: "\e688";
@icon-l-cols-20-60-20: "\e6a1";
@icon-eye: "\e692";
@icon-list: "\e6f8";
@icon-folder-clock: "\e68c";

.icon-dots-vertical:before {content: @icon-dots-vertical; }
.icon-chain:before {content: @icon-chain; }
.icon-chain-slash:before {content: @icon-chain-slash; }
.icon-list-bullets:before {content: @icon-list-bullets; }
.icon-list-numbers:before {content: @icon-list-numbers; }
.icon-eye-slash:before {content: @icon-eye-slash; }
.icon-arrow-u-right:before {content: @icon-arrow-u-right; }
.icon-arrow-u-left:before {content: @icon-arrow-u-left; }
.icon-arrow-down:before {content: @icon-arrow-down; }
.icon-arrow-up:before {content: @icon-arrow-up; }
.icon-arrow-left:before {content: @icon-arrow-left; }
.icon-arrow-right:before {content: @icon-arrow-right; }
.icon-arrow-down-circle:before {content: @icon-arrow-down-circle; }
.icon-arrow-left-circle:before {content: @icon-arrow-left-circle; }
.icon-arrow-right-circle:before {content: @icon-arrow-right-circle; }
.icon-arrow-up-circle:before {content: @icon-arrow-up-circle; }
.icon-arrow-left-rect:before {content: @icon-arrow-left-rect; }
.icon-arrow-right-rect:before {content: @icon-arrow-right-rect; }
.icon-arrow-crooked-left:before {content: @icon-arrow-crooked-left; }
.icon-arrow-crooked-right:before {content: @icon-arrow-crooked-right; }
.icon-arrow-double-left:before {content: @icon-arrow-double-left; }
.icon-arrow-double-right:before {content: @icon-arrow-double-right; }
.icon-arrow-down-line:before {content: @icon-arrow-down-line; }
.icon-arrow-up-line:before {content: @icon-arrow-up-line; }
.icon-arrows:before {content: @icon-arrows; }
.icon-arrows-h:before {content: @icon-arrows-h; }
.icon-arrows-v:before {content: @icon-arrows-v; }
.icon-magnifier:before {content: @icon-magnifier; }
.icon-magnifier-minus:before {content: @icon-magnifier-minus; }
.icon-magnifier-plus:before {content: @icon-magnifier-plus; }
.icon-minus:before {content: @icon-minus; }
.icon-loop:before {content: @icon-loop; }
.icon-merge:before {content: @icon-merge; }
.icon-separate:before {content: @icon-separate; }
.icon-scheme-circles-triangle:before {content: @icon-scheme-circles-triangle; }
.icon-market:before {content: @icon-market; }
.icon-bubble-o:before {content: @icon-bubble-o; }
.icon-bubble-times:before {content: @icon-bubble-times; }
.icon-clapperboard:before {content: @icon-clapperboard; }
.icon-collapse:before {content: @icon-collapse; }
.icon-collapse-scheme:before {content: @icon-collapse-scheme; }
.icon-dialog-window:before {content: @icon-dialog-window; }
.icon-dialog-window-cogwheel:before {content: @icon-dialog-window-cogwheel; }
.icon-doc-ban-sign:before {content: @icon-doc-ban-sign; }
.icon-doc-o:before {content: @icon-doc-o; }
.icon-doc-user:before {content: @icon-doc-user; }
.icon-expand:before {content: @icon-expand; }
.icon-file:before {content: @icon-file; }
.icon-folder-belt:before {content: @icon-folder-belt; }
.icon-folder-o:before {content: @icon-folder-o; }
.icon-hat-moustache:before {content: @icon-hat-moustache; }
.icon-key:before {content: @icon-key; }
.icon-rectangle-a:before {content: @icon-rectangle-a; }
.icon-rectangle-a-o:before {content: @icon-rectangle-a-o; }
.icon-rectangle-o-h:before {content: @icon-rectangle-o-h; }
.icon-rectangle-o-v:before {content: @icon-rectangle-o-v; }
.icon-rectangle-paragraph:before {content: @icon-rectangle-paragraph; }
.icon-tab:before {content: @icon-tab; }
.icon-file-pdf:before {content: @icon-file-pdf; }
.icon-graduate-cap:before {content: @icon-graduate-cap; }
.icon-clipboard-list:before {content: @icon-clipboard-list; }
.icon-user-checkbox:before {content: @icon-user-checkbox; }
.icon-box-cart:before {content: @icon-box-cart; }
.icon-bubble-censored:before {content: @icon-bubble-censored; }
.icon-drawers:before {content: @icon-drawers; }
.icon-earth:before {content: @icon-earth; }
.icon-form:before {content: @icon-form; }
.icon-invoice:before {content: @icon-invoice; }
.icon-mug:before {content: @icon-mug; }
.icon-square-dashed-line:before {content: @icon-square-dashed-line; }
.icon-briefcase:before {content: @icon-briefcase; }
.icon-funnel:before {content: @icon-funnel; }
.icon-map:before {content: @icon-map; }
.icon-notebook:before {content: @icon-notebook; }
.icon-piechart:before {content: @icon-piechart; }
.icon-user-frame:before {content: @icon-user-frame; }
.icon-clipboard-checklist:before {content: @icon-clipboard-checklist; }
.icon-pictures:before {content: @icon-pictures; }
.icon-flag:before {content: @icon-flag; }
.icon-folder:before {content: @icon-folder; }
.icon-folder-opened:before {content: @icon-folder-opened; }
.icon-picture:before {content: @icon-picture; }
.icon-bin:before {content: @icon-bin; }
.icon-bubble:before {content: @icon-bubble; }
.icon-doc:before {content: @icon-doc; }
.icon-doc-move:before {content: @icon-doc-move; }
.icon-edit:before {content: @icon-edit; }
.icon-menu:before {content: @icon-menu; }
.icon-message:before {content: @icon-message; }
.icon-user:before {content: @icon-user; }
.icon-monitor-broken:before {content: @icon-monitor-broken; }
.icon-monitor:before {content: @icon-monitor; }
.icon-chevron-down-line:before {content: @icon-chevron-down-line; }
.icon-chevron-left-line:before {content: @icon-chevron-left-line; }
.icon-chevron-right-line:before {content: @icon-chevron-right-line; }
.icon-chevron-up-line:before {content: @icon-chevron-up-line; }
.icon-pin-o:before {content: @icon-pin-o; }
.icon-brand-sharepoint:before {content: @icon-brand-sharepoint; }
.icon-heartshake:before {content: @icon-heartshake; }
.icon-pin:before {content: @icon-pin; }
.icon-checklist:before {content: @icon-checklist; }
.icon-watch:before {content: @icon-watch; }
.icon-permission-list:before {content: @icon-permission-list; }
.icon-users:before {content: @icon-users; }
.icon-brand-youtube:before {content: @icon-brand-youtube; }
.icon-brand-pinterest:before {content: @icon-brand-pinterest; }
.icon-brand-open-id:before {content: @icon-brand-open-id; }
.icon-two-rectangles-v:before {content: @icon-two-rectangles-v; }
.icon-brand-linkedin:before {content: @icon-brand-linkedin; }
.icon-two-rectangles-h:before {content: @icon-two-rectangles-h; }
.icon-brand-google-plus:before {content: @icon-brand-google-plus; }
.icon-t-shirt:before {content: @icon-t-shirt; }
.icon-xml-tag:before {content: @icon-xml-tag; }
.icon-truck:before {content: @icon-truck; }
.icon-trophy:before {content: @icon-trophy; }
.icon-rss:before {content: @icon-rss; }
.icon-triangle-right:before {content: @icon-triangle-right; }
.icon-restriction-list:before {content: @icon-restriction-list; }
.icon-translate:before {content: @icon-translate; }
.icon-qr-code:before {content: @icon-qr-code; }
.icon-times-circle:before {content: @icon-times-circle; }
.icon-lock-unlocked:before {content: @icon-lock-unlocked; }
.icon-times:before {content: @icon-times; }
.icon-dollar-sign:before {content: @icon-dollar-sign; }
.icon-tag:before {content: @icon-tag; }
.icon-tablet:before {content: @icon-tablet; }
.icon-cb-check-disabled:before {content: @icon-cb-check-disabled; }
.icon-table:before {content: @icon-table; }
.icon-carousel:before {content: @icon-carousel; }
.icon-star-full:before {content: @icon-star-full; }
.icon-star-semi:before {content: @icon-star-semi; }
.icon-star-empty:before {content: @icon-star-empty; }
.icon-arrows-crooked:before {content: @icon-arrows-crooked; }
.icon-staging-scheme:before {content: @icon-staging-scheme; }
.icon-shopping-cart:before {content: @icon-shopping-cart; }
.icon-highlighter:before {content: @icon-highlighter; }
.icon-square-dashed:before {content: @icon-square-dashed; }
.icon-cookie:before {content: @icon-cookie; }
.icon-square:before {content: @icon-square; }
.icon-software-package:before {content: @icon-software-package; }
.icon-smartphone:before {content: @icon-smartphone; }
.icon-scissors:before {content: @icon-scissors; }
.icon-rotate-right:before {content: @icon-rotate-right; }
.icon-rotate-left:before {content: @icon-rotate-left; }
.icon-rotate-double-right:before {content: @icon-rotate-double-right; }
.icon-ribbon:before {content: @icon-ribbon; }
.icon-rb-uncheck:before {content: @icon-rb-uncheck; }
.icon-rb-check-sign:before {content: @icon-rb-check-sign; }
.icon-question-circle:before {content: @icon-question-circle; }
.icon-project-scheme:before {content: @icon-project-scheme; }
.icon-process-scheme:before {content: @icon-process-scheme; }
.icon-plus-square:before {content: @icon-plus-square; }
.icon-plus-circle:before {content: @icon-plus-circle; }
.icon-plus:before {content: @icon-plus; }
.icon-placeholder:before {content: @icon-placeholder; }
.icon-perfume:before {content: @icon-perfume; }
.icon-percent-sign:before {content: @icon-percent-sign; }
.icon-pda:before {content: @icon-pda; }
.icon-pc:before {content: @icon-pc; }
.icon-pause:before {content: @icon-pause; }
.icon-parent-children-scheme:before {content: @icon-parent-children-scheme; }
.icon-paperclip:before {content: @icon-paperclip; }
.icon-pants:before {content: @icon-pants; }
.icon-palette:before {content: @icon-palette; }
.icon-organisational-scheme:before {content: @icon-organisational-scheme; }
.icon-newspaper:before {content: @icon-newspaper; }
.icon-monitor-smartphone:before {content: @icon-monitor-smartphone; }
.icon-modal-question:before {content: @icon-modal-question; }
.icon-modal-minimize:before {content: @icon-modal-minimize; }
.icon-modal-maximize:before {content: @icon-modal-maximize; }
.icon-modal-close:before {content: @icon-modal-close; }
.icon-minus-circle:before {content: @icon-minus-circle; }
.icon-microphone:before {content: @icon-microphone; }
.icon-messages:before {content: @icon-messages; }
.icon-media-player:before {content: @icon-media-player; }
.icon-mask:before {content: @icon-mask; }
.icon-map-marker:before {content: @icon-map-marker; }
.icon-lock:before {content: @icon-lock; }
.icon-life-belt:before {content: @icon-life-belt; }
.icon-laptop:before {content: @icon-laptop; }
.icon-kentico:before {content: @icon-kentico; }
.icon-integration-scheme:before {content: @icon-integration-scheme; }
.icon-i-circle:before {content: @icon-i-circle; }
.icon-chevron-up-square:before {content: @icon-chevron-up-square; }
.icon-chevron-up-circle:before {content: @icon-chevron-up-circle; }
.icon-chevron-up:before {content: @icon-chevron-up; }
.icon-chevron-right-square:before {content: @icon-chevron-right-square; }
.icon-chevron-right:before {content: @icon-chevron-right; }
.icon-chevron-left-square:before {content: @icon-chevron-left-square; }
.icon-chevron-left-circle:before {content: @icon-chevron-left-circle; }
.icon-chevron-left:before {content: @icon-chevron-left; }
.icon-chevron-down-square:before {content: @icon-chevron-down-square; }
.icon-chevron-down-circle:before {content: @icon-chevron-down-circle; }
.icon-chevron-down:before {content: @icon-chevron-down; }
.icon-chevron-double-up:before {content: @icon-chevron-double-up; }
.icon-chevron-double-right:before {content: @icon-chevron-double-right; }
.icon-chevron-double-left:before {content: @icon-chevron-double-left; }
.icon-chevron-double-down:before {content: @icon-chevron-double-down; }
.icon-checklist2:before {content: @icon-checklist2; }
.icon-check-circle:before {content: @icon-check-circle; }
.icon-check:before {content: @icon-check; }
.icon-tags:before {content: @icon-tags; }
.icon-shoe-women:before {content: @icon-shoe-women; }
.icon-printer:before {content: @icon-printer; }
.icon-parent-child-scheme:before {content: @icon-parent-child-scheme; }
.icon-minus-square:before {content: @icon-minus-square; }
.icon-light-bulb:before {content: @icon-light-bulb; }
.icon-chevron-right-circle:before {content: @icon-chevron-right-circle; }
.icon-home:before {content: @icon-home; }
.icon-half-arrows-right-left:before {content: @icon-half-arrows-right-left; }
.icon-graph:before {content: @icon-graph; }
.icon-factory:before {content: @icon-factory; }
.icon-exclamation-triangle:before {content: @icon-exclamation-triangle; }
.icon-ellipsis:before {content: @icon-ellipsis; }
.icon-ekg-line:before {content: @icon-ekg-line; }
.icon-doc-paste:before {content: @icon-doc-paste; }
.icon-doc-copy:before {content: @icon-doc-copy; }
.icon-database:before {content: @icon-database; }
.icon-cup:before {content: @icon-cup; }
.icon-compass:before {content: @icon-compass; }
.icon-cogwheel-square:before {content: @icon-cogwheel-square; }
.icon-cogwheels:before {content: @icon-cogwheels; }
.icon-cogwheel:before {content: @icon-cogwheel; }
.icon-circle-square:before {content: @icon-circle-square; }
.icon-circle:before {content: @icon-circle; }
.icon-cb-uncheck:before {content: @icon-cb-uncheck; }
.icon-cb-check-sign:before {content: @icon-cb-check-sign; }
.icon-caret-up:before {content: @icon-caret-up; }
.icon-caret-right-down:before {content: @icon-caret-right-down; }
.icon-caret-right:before {content: @icon-caret-right; }
.icon-caret-left:before {content: @icon-caret-left; }
.icon-caret-down:before {content: @icon-caret-down; }
.icon-camera:before {content: @icon-camera; }
.icon-calendar-number:before {content: @icon-calendar-number; }
.icon-calendar:before {content: @icon-calendar; }
.icon-bullseye:before {content: @icon-bullseye; }
.icon-building-block:before {content: @icon-building-block; }
.icon-building:before {content: @icon-building; }
.icon-bug:before {content: @icon-bug; }
.icon-bucket-shovel:before {content: @icon-bucket-shovel; }
.icon-bubbles:before {content: @icon-bubbles; }
.icon-brush:before {content: @icon-brush; }
.icon-broom:before {content: @icon-broom; }
.icon-brand-twitter:before {content: @icon-brand-twitter; }
.icon-brand-google:before {content: @icon-brand-google; }
.icon-brand-facebook:before {content: @icon-brand-facebook; }
.icon-brand-bing:before {content: @icon-brand-bing; }
.icon-braces:before {content: @icon-braces; }
.icon-boxes:before {content: @icon-boxes; }
.icon-box:before {content: @icon-box; }
.icon-ban-sign:before {content: @icon-ban-sign; }
.icon-badge:before {content: @icon-badge; }
.icon-arrow-right-top-square:before {content: @icon-arrow-right-top-square; }
.icon-breadcrumb:before {content: @icon-breadcrumb; }
.icon-clock:before {content: @icon-clock; }
.icon-cloud:before {content: @icon-cloud; }
.icon-cb-check-preview:before {content: @icon-cb-check-preview; }
.icon-accordion:before {content: @icon-accordion; }
.icon-two-squares-line:before {content: @icon-two-squares-line; }
.icon-money-bill:before {content: @icon-money-bill; }
.icon-puzzle:before {content: @icon-puzzle; }
.icon-wizard-stick:before {content: @icon-wizard-stick; }
.icon-lines-rectangle-o:before {content: @icon-lines-rectangle-o; }
.icon-doc-arrows:before {content: @icon-doc-arrows; }
.icon-l-text-col:before {content: @icon-l-text-col; }
.icon-l-menu-text-col:before {content: @icon-l-menu-text-col; }
.icon-l-menu-cols-3:before {content: @icon-l-menu-cols-3; }
.icon-l-logotype-menu-v-col:before {content: @icon-l-logotype-menu-v-col; }
.icon-l-logotype-menu-h-col:before {content: @icon-l-logotype-menu-h-col; }
.icon-l-header-cols-3-footer:before {content: @icon-l-header-cols-3-footer; }
.icon-l-cols-80-20:before {content: @icon-l-cols-80-20; }
.icon-l-cols-20-80:before {content: @icon-l-cols-20-80; }
.icon-l-cols-4:before {content: @icon-l-cols-4; }
.icon-l-cols-3:before {content: @icon-l-cols-3; }
.icon-l-cols-2:before {content: @icon-l-cols-2; }
.icon-bezier-scheme:before {content: @icon-bezier-scheme; }
.icon-note:before {content: @icon-note; }
.icon-piechart-lines:before {content: @icon-piechart-lines; }
.icon-l-article-map:before {content: @icon-l-article-map; }
.icon-l-calendar-number-article:before {content: @icon-l-calendar-number-article; }
.icon-l-forms-2:before {content: @icon-l-forms-2; }
.icon-l-header-cols-2-footer:before {content: @icon-l-header-cols-2-footer; }
.icon-l-header-list-img:before {content: @icon-l-header-list-img; }
.icon-l-header-menu-text:before {content: @icon-l-header-menu-text; }
.icon-l-header-text:before {content: @icon-l-header-text; }
.icon-l-list-article:before {content: @icon-l-list-article; }
.icon-l-lightbox:before {content: @icon-l-lightbox; }
.icon-l-img-3-cols-3:before {content: @icon-l-img-3-cols-3; }
.icon-l-img-2-cols-3:before {content: @icon-l-img-2-cols-3; }
.icon-l-text:before {content: @icon-l-text; }
.icon-l-rows-4:before {content: @icon-l-rows-4; }
.icon-l-rows-3:before {content: @icon-l-rows-3; }
.icon-l-rows-2:before {content: @icon-l-rows-2; }
.icon-l-menu-text-col-bottom:before {content: @icon-l-menu-text-col-bottom; }
.icon-l-menu-text:before {content: @icon-l-menu-text; }
.icon-l-menu-list-img-col:before {content: @icon-l-menu-list-img-col; }
.icon-l-menu-list-img:before {content: @icon-l-menu-list-img; }
.icon-l-menu-list:before {content: @icon-l-menu-list; }
.icon-l-menu-cols-2:before {content: @icon-l-menu-cols-2; }
.icon-l-logotype-menu-col-footer:before {content: @icon-l-logotype-menu-col-footer; }
.icon-l-list-title:before {content: @icon-l-list-title; }
.icon-l-list-img-article:before {content: @icon-l-list-img-article; }
.icon-l-list-article-col:before {content: @icon-l-list-article-col; }
.icon-tree-structure:before {content: @icon-tree-structure; }
.icon-vb:before {content: @icon-vb; }
.icon-crosshair-o:before {content: @icon-crosshair-o; }
.icon-crosshair-f:before {content: @icon-crosshair-f; }
.icon-caret-right-aligned-left:before {content: @icon-caret-right-aligned-left; }
.icon-caret-left-aligned-right:before {content: @icon-caret-left-aligned-right; }
.icon-gauge:before {content: @icon-gauge; }
.icon-c-sharp:before {content: @icon-c-sharp; }
.icon-tab-vertical:before {content: @icon-tab-vertical; }
.icon-right-double-quotation-mark:before {content: @icon-right-double-quotation-mark; }
.icon-braces-octothorpe:before {content: @icon-braces-octothorpe; }
.icon-outdent:before {content: @icon-outdent; }
.icon-indent:before {content: @icon-indent; }
.icon-i:before {content: @icon-i; }
.icon-b:before {content: @icon-b; }
.icon-u:before {content: @icon-u; }
.icon-s:before {content: @icon-s; }
.icon-x:before {content: @icon-x; }
.icon-t-f:before {content: @icon-t-f; }
.icon-t:before {content: @icon-t; }
.icon-parent-child-scheme-2:before {content: @icon-parent-child-scheme-2; }
.icon-parent-child-scheme2:before {content: @icon-parent-child-scheme2; }
.icon-doc-torn:before {content: @icon-doc-torn; }
.icon-f:before {content: @icon-f; }
.icon-a-lowercase:before {content: @icon-a-lowercase; }
.icon-circle-slashed:before {content: @icon-circle-slashed; }
.icon-one:before {content: @icon-one; }
.icon-diamond:before {content: @icon-diamond; }
.icon-choice-user-scheme:before {content: @icon-choice-user-scheme; }
.icon-choice-single-scheme:before {content: @icon-choice-single-scheme; }
.icon-choice-multi-scheme:before {content: @icon-choice-multi-scheme; }
.icon-book-opened:before {content: @icon-book-opened; }
.icon-e-book:before {content: @icon-e-book; }
.icon-spinner:before {content: @icon-spinner; }
.icon-layouts:before {content: @icon-layouts; }
.icon-layout:before {content: @icon-layout; }
.icon-id-card:before {content: @icon-id-card; }
.icon-id-cards:before {content: @icon-id-cards; }
.icon-l-grid-3-2:before {content: @icon-l-grid-3-2; }
.icon-l-grid-2-2:before {content: @icon-l-grid-2-2; }
.icon-l-cols-70-30:before {content: @icon-l-cols-70-30; }
.icon-l-cols-30-70:before {content: @icon-l-cols-30-70; }
.icon-l-cols-25-50-25:before {content: @icon-l-cols-25-50-25; }
.icon-l-cols-20-60-20:before {content: @icon-l-cols-20-60-20; }
.icon-eye:before {content: @icon-eye; }
.icon-list:before {content: @icon-list; }
.icon-folder-clock:before {content: @icon-folder-clock; }

.icon-app-default:before { content: @icon-square-dashed; }
.icon-app-blogs:before { content: @icon-notebook; }
.icon-app-content:before { content: @icon-book-opened; }
.icon-app-content-dashboard:before { content: @icon-gauge; }
.icon-app-file-import:before { content: @icon-arrow-left-rect; }
.icon-app-forms:before { content: @icon-form; }
.icon-app-checked-out:before { content: @icon-briefcase; }
.icon-app-media:before { content: @icon-pictures; }
.icon-app-my-blogs:before { content: @icon-notebook; }
.icon-app-my-documents:before { content: @icon-briefcase; }
.icon-app-outdated:before { content: @icon-briefcase; }
.icon-app-pending:before { content: @icon-briefcase; }
.icon-app-polls:before { content: @icon-clipboard-checklist; }
.icon-app-recent:before { content: @icon-briefcase; }
.icon-app-translations:before { content: @icon-earth; }
.icon-app-activities:before { content: @icon-ekg-line; }
.icon-app-banners:before { content: @icon-ribbon; }
.icon-app-campaigns:before { content: @icon-bullseye; }
.icon-app-contacts:before { content: @icon-id-card; }
.icon-app-contact-groups:before { content: @icon-id-cards; }
.icon-app-conversions:before { content: @icon-half-arrows-right-left; }
.icon-app-marketing-dashboard:before { content: @icon-gauge; }
.icon-app-marketing-reports:before { content: @icon-graph; }
.icon-app-newsletters:before { content: @icon-message; }
.icon-app-processes:before { content: @icon-process-scheme; }
.icon-app-scoring:before { content: @icon-funnel; }
.icon-app-web-analytics:before { content: @icon-piechart; }
.icon-app-ab-test:before { content: @icon-two-squares-line; }
.icon-app-mvt:before { content: @icon-layout; }
.icon-app-catalog-discounts:before { content: @icon-percent-sign; }
.icon-app-customers:before { content: @icon-user-frame; }
.icon-app-ecommerce-dashboard:before { content: @icon-gauge; }
.icon-app-ecommerce-reports:before { content: @icon-graph; }
.icon-app-free-shipping-offers:before { content: @icon-percent-sign; }
.icon-app-manufacturers:before { content: @icon-factory; }
.icon-app-order-discounts:before { content: @icon-percent-sign; }
.icon-app-orders:before { content: @icon-invoice; }
.icon-app-product-coupons:before { content: @icon-percent-sign; }
.icon-app-product-options:before { content: @icon-boxes; }
.icon-app-products:before { content: @icon-box; }
.icon-app-suppliers:before { content: @icon-box-cart; }
.icon-app-abuse-reports:before { content: @icon-restriction-list; }
.icon-app-avatars:before { content: @icon-mask; }
.icon-app-bad-words:before { content: @icon-bubble-censored; }
.icon-app-badges:before { content: @icon-badge; }
.icon-app-events:before { content: @icon-calendar-number; }
.icon-app-facebook:before { content: @icon-brand-facebook; }
.icon-app-forums:before { content: @icon-bubbles; }
.icon-app-friends:before { content: @icon-heartshake; }
.icon-app-groups:before { content: @icon-users; }
.icon-app-chat:before { content: @icon-bubble; }
.icon-app-message-boards:before { content: @icon-bubbles; }
.icon-app-messages:before { content: @icon-messages; }
.icon-app-my-projects:before { content: @icon-project-scheme; }
.icon-app-projects:before { content: @icon-project-scheme; }
.icon-app-api-examples:before { content: @icon-cogwheels; }
.icon-app-classes:before { content: @icon-braces; }
.icon-app-css-stylesheets:before { content: @icon-palette; }
.icon-app-custom-tables:before { content: @icon-table; }
.icon-app-database-objects:before { content: @icon-database; }
.icon-app-device-profiles:before { content: @icon-monitor-smartphone; }
.icon-app-document-types:before { content: @icon-doc; }
.icon-app-email-templates:before { content: @icon-message; }
.icon-app-form-controls:before { content: @icon-form; }
.icon-app-inline-controls:before { content: @icon-form; }
.icon-app-javascript-files:before { content: @icon-braces; }
.icon-app-macro-rules:before { content: @icon-braces-octothorpe; }
.icon-app-modules:before { content: @icon-puzzle; }
.icon-app-notifications:before { content: @icon-flag; }
.icon-app-page-layouts:before { content: @icon-layout; }
.icon-app-page-templates:before { content: @icon-layout; }
.icon-app-web-part-containers:before { content: @icon-square-dashed-line; }
.icon-app-web-parts:before { content: @icon-building-block; }
.icon-app-web-templates:before { content: @icon-layout; }
.icon-app-widgets:before { content: @icon-cogwheel-square; }
.icon-app-banned-ips:before { content: @icon-restriction-list; }
.icon-app-categories:before { content: @icon-drawers; }
.icon-app-content-reports:before { content: @icon-cogwheel; }
.icon-app-countries:before { content: @icon-map-marker; }
.icon-app-ecommerce-configuration:before { content: @icon-cogwheel; }
.icon-app-email-queue:before { content: @icon-messages; }
.icon-app-event-log:before { content: @icon-clipboard-list; }
.icon-app-integration-bus:before { content: @icon-integration-scheme; }
.icon-app-localization:before { content: @icon-earth; }
.icon-app-membership:before { content: @icon-id-card; }
.icon-app-marketing-configuration:before { content: @icon-cogwheel; }
.icon-app-permissions:before { content: @icon-permission-list; }
.icon-app-recycle-bin:before { content: @icon-bin; }
.icon-app-relationship-names:before { content: @icon-chain; }
.icon-app-roles:before { content: @icon-user-checkbox; }
.icon-app-search-engines:before { content: @icon-magnifier; }
.icon-app-settings:before { content: @icon-cogwheel; }
.icon-app-scheduled-tasks:before { content: @icon-folder-clock; }
.icon-app-sites:before { content: @icon-layouts; }
.icon-app-smart-search:before { content: @icon-magnifier; }
.icon-app-smtp-servers:before { content: @icon-message; }
.icon-app-staging:before { content: @icon-staging-scheme; }
.icon-app-system:before { content: @icon-circle-square; }
.icon-app-tag-groups:before { content: @icon-tags; }
.icon-app-time-zones:before { content: @icon-clock; }
.icon-app-translation-services:before { content: @icon-translate; }
.icon-app-ui-personalization:before { content: @icon-layout; }
.icon-app-users:before { content: @icon-users; }
.icon-app-web-farm:before { content: @icon-parent-children-scheme; }
.icon-app-workflows:before { content: @icon-diamond; }
.icon-app-personas:before { content: @icon-hat-moustache; }
.icon-app-unit-tests:before { content: @icon-checklist; }
.icon-app-licenses:before { content: @icon-key; }
.icon-app-my-profile:before { content: @icon-user; }
.icon-app-debug:before { content: @icon-bug; }
.icon-app-twitter:before { content: @icon-brand-twitter; }
.icon-app-continuous-integration:before { content: @icon-loop; }

.icon-googletranslator:before { content: @icon-brand-google; }
.icon-microsofttranslator:before { content: @icon-brand-bing; }

.icon-external-link:before { content: @icon-arrow-right-top-square; }
.icon-mvc:before { content: @icon-scheme-circles-triangle; }

.icon-w-webpart-default:before { content: @icon-building-block; }
.icon-w-widget-default:before { content: @icon-cogwheel-square; }
.icon-w-css-list-menu:before { content: @icon-list; }
.icon-w-tree-menu:before { content: @icon-tree-structure; }
.icon-w-category-menu:before { content: @icon-list; }
.icon-w-tab-menu:before { content: @icon-list; }
.icon-w-drop-down-menu:before { content: @icon-list; }
.icon-w-language-selection:before { content: @icon-earth; }
.icon-w-language-selection-dropdown:before { content: @icon-earth; }
.icon-w-language-selection-with-flags:before { content: @icon-earth; }
.icon-w-page-placeholder:before { content: @icon-placeholder; }
.icon-w-site-map:before { content: @icon-tree-structure; }
.icon-w-qr-code:before { content: @icon-qr-code; }
.icon-w-repeater:before { content: @icon-arrows-crooked; }
.icon-w-repeater-for-web-service:before { content: @icon-cogwheels; }
.icon-w-repeater-with-carousel:before { content: @icon-carousel; }
.icon-w-repeater-with-custom-query:before { content: @icon-database; }
.icon-w-query-repeater-with-effect:before { content: @icon-database; }
.icon-w-repeater-with-effect:before { content: @icon-arrows-crooked; }
.icon-w-repeater-with-lightbox:before { content: @icon-picture; }
.icon-w-basic-repeater:before { content: @icon-arrows-crooked; }
.icon-w-basic-repeater-with-effect:before { content: @icon-arrows-crooked; }
.icon-w-custom-table-repeater:before { content: @icon-table; }
.icon-w-custom-table-repeater-with-effect:before { content: @icon-table; }
.icon-w-report-table:before { content: @icon-table; }
.icon-w-atom-repeater:before { content: @icon-rss; }
.icon-w-xml-repeater:before { content: @icon-xml-tag; }
.icon-w-head-html-code:before { content: @icon-xml-tag; }
.icon-w-static-html:before { content: @icon-xml-tag; }
.icon-w-javascript:before { content: @icon-braces; }
.icon-w-breadcrumbs:before { content: @icon-breadcrumb; }
.icon-w-category-breadcrumbs:before { content: @icon-breadcrumb; }
.icon-w-forum-breadcrumbs:before { content: @icon-breadcrumb; }
.icon-w-document-attachments:before { content: @icon-paperclip; }
.icon-w-document-attachments-with-effect:before { content: @icon-paperclip; }
.icon-w-attachments:before { content: @icon-paperclip; }
.icon-w-attachments-carousel:before { content: @icon-carousel; }
.icon-w-attachments-carousel-3d:before { content: @icon-carousel; }
.icon-w-attachments-lightbox:before { content: @icon-picture; }
.icon-w-lightbox-gallery:before { content: @icon-picture; }
.icon-w-inbox:before { content: @icon-message; }
.icon-w-send-message:before { content: @icon-message; }
.icon-w-send-to-friend:before { content: @icon-message; }
.icon-w-newsletter-archive:before { content: @icon-list; }
.icon-w-newsletter-subscription:before { content: @icon-check-circle; }
.icon-w-messaging-info-panel:before { content: @icon-message; }
.icon-w-newsletter-unsubscription:before { content: @icon-times-circle; }
.icon-w-custom-subscription-form:before { content: @icon-check-circle; }
.icon-w-registration-e-mail-confirmation:before { content: @icon-message; }
.icon-w-my-messages:before { content: @icon-message; }
.icon-w-outbox:before { content: @icon-message; }
.icon-w-my-sent-invitations:before { content: @icon-message; }
.icon-w-board-messages-data-source:before { content: @icon-bubbles; }
.icon-w-group-forum-posts-data-source:before { content: @icon-bubbles; }
.icon-w-query-data-source:before { content: @icon-database; }
.icon-w-forum-posts-data-source:before { content: @icon-bubbles; }
.icon-w-documents-data-source:before { content: @icon-doc; }
.icon-w-web-service-data-source:before { content: @icon-cogwheels; }
.icon-w-department-members-data-source:before { content: @icon-organisational-scheme; }
.icon-w-macro-data-source:before { content: @icon-braces-octothorpe; }
.icon-w-file-system-data-source:before { content: @icon-folder-opened; }
.icon-w-sharepoint-data-source:before { content: @icon-building-block; }
.icon-w-group-media-libraries-data-source:before { content: @icon-pictures; }
.icon-w-atom-data-source:before { content: @icon-rss; }
.icon-w-media-files-data-source:before { content: @icon-pictures; }
.icon-w-groups-data-source:before { content: @icon-users; }
.icon-w-custom-table-data-source:before { content: @icon-table; }
.icon-w-group-members-data-source:before { content: @icon-users; }
.icon-w-friends-data-source:before { content: @icon-heartshake; }
.icon-w-blog-comments-data-source:before { content: @icon-notebook; }
.icon-w-sql-data-source:before { content: @icon-database; }
.icon-w-sql-search-box:before { content: @icon-magnifier; }
.icon-w-xml-data-source:before { content: @icon-xml-tag; }
.icon-w-sql-search-dialog:before { content: @icon-magnifier; }
.icon-w-products-data-source:before { content: @icon-box; }
.icon-w-sql-search-dialog-with-results:before { content: @icon-magnifier; }
.icon-w-media-libraries-data-source:before { content: @icon-pictures; }
.icon-w-users-data-source:before { content: @icon-user; }
.icon-w-attachments-data-source:before { content: @icon-paperclip; }
.icon-w-sql-search-results:before { content: @icon-list; }
.icon-w-chat-search-on-line-users:before { content: @icon-magnifier; }
.icon-w-search-accelerator-for-ie8-and-higher:before { content: @icon-magnifier; }
.icon-w-search-engine-results-highlighter:before { content: @icon-highlighter; }
.icon-w-smart-search-box:before { content: @icon-magnifier; }
.icon-w-forum-search-advanced-dialog:before { content: @icon-magnifier; }
.icon-w-smart-search-dialog:before { content: @icon-magnifier; }
.icon-w-forum-search-box:before { content: @icon-magnifier; }
.icon-w-smart-search-dialog-with-results:before { content: @icon-magnifier; }
.icon-w-smart-search-filter:before { content: @icon-funnel; }
.icon-w-smart-search-results:before { content: @icon-list; }
.icon-w-message-board-rss-feed:before { content: @icon-bubbles; }
.icon-w-forum-posts-rss-feed:before { content: @icon-bubbles; }
.icon-w-query-rss-feed:before { content: @icon-database; }
.icon-w-news-rss-feed:before { content: @icon-newspaper; }
.icon-w-web-service-rss-feed:before { content: @icon-cogwheels; }
.icon-w-feed-link:before { content: @icon-rss; }
.icon-w-cms-rss-feed:before { content: @icon-rss; }
.icon-w-atom-feed:before { content: @icon-rss; }
.icon-w-media-files-rss-feed:before { content: @icon-pictures; }
.icon-w-blog-comments-rss-feed:before { content: @icon-rss; }
.icon-w-events-rss-feed:before { content: @icon-calendar-number; }
.icon-w-rss-data-source:before { content: @icon-database; }
.icon-w-rss-feed:before { content: @icon-rss; }
.icon-w-products-rss-feed:before { content: @icon-box; }
.icon-w-custom-table-rss-feed:before { content: @icon-table; }
.icon-w-blog-posts-rss-feed:before { content: @icon-notebook; }
.icon-w-rss-repeater:before { content: @icon-rss; }
.icon-w-web-part-zone:before { content: @icon-layout; }
.icon-w-banner-rotator:before { content: @icon-ribbon; }
.icon-w-css-style-selector:before { content: @icon-palette; }
.icon-w-report:before { content: @icon-graph; }
.icon-w-report-chart:before { content: @icon-graph; }
.icon-w-switch-mobile-device-detection:before { content: @icon-smartphone; }
.icon-w-mobile-device-redirection:before { content: @icon-smartphone; }
.icon-w-poll:before { content: @icon-checklist; }
.icon-w-group-polls:before { content: @icon-checklist; }
.icon-w-scrolling-text:before { content: @icon-rectangle-paragraph; }
.icon-w-static-text:before { content: @icon-rectangle-paragraph; }
.icon-w-paged-text:before { content: @icon-rectangle-paragraph; }
.icon-w-editable-text:before { content: @icon-rectangle-paragraph; }
.icon-w-change-password:before { content: @icon-key; }
.icon-w-unlock-user-accunt:before { content: @icon-lock-unlocked; }
.icon-w-reset-password:before { content: @icon-key; }
.icon-w-automatically-initiated-chat:before { content: @icon-bubble; }
.icon-w-chat-send-message:before { content: @icon-message; }
.icon-w-chat-support-request:before { content: @icon-bubble; }
.icon-w-chat-web-part:before { content: @icon-building-block; }
.icon-w-chat-errors:before { content: @icon-bubble-times; }
.icon-w-chat-leave-room:before { content: @icon-arrow-right-rect; }
.icon-w-chat-login:before { content: @icon-key; }
.icon-w-chat-notifications:before { content: @icon-bubble; }
.icon-w-chat-room-messages:before { content: @icon-bubble; }
.icon-w-chat-room-name:before { content: @icon-bubble; }
.icon-w-chat-room-users:before { content: @icon-user; }
.icon-w-chat-rooms:before { content: @icon-bubble-o; }
.icon-w-comment-view:before { content: @icon-bubbles; }
.icon-w-forum-unsubscription:before { content: @icon-times-circle; }
.icon-w-forum-most-active-threads:before { content: @icon-bubbles; }
.icon-w-forum-recently-active-threads:before { content: @icon-bubbles; }
.icon-w-forum-top-contributors:before { content: @icon-bubbles; }
.icon-w-forum-single-forum-flat-layout:before { content: @icon-bubbles; }
.icon-w-forum-single-forum-general:before { content: @icon-bubbles; }
.icon-w-forum-single-forum-tree-layout:before { content: @icon-bubbles; }
.icon-w-calendar:before { content: @icon-calendar; }
.icon-w-date-and-time:before { content: @icon-clock; }
.icon-w-event-calendar:before { content: @icon-calendar-number; }
.icon-w-event-registration:before { content: @icon-calendar-number; }
.icon-w-content-rating:before { content: @icon-star-full; }
.icon-w-shopping-cart-content:before { content: @icon-shopping-cart; }
.icon-w-shopping-cart-preview:before { content: @icon-shopping-cart; }
.icon-w-shopping-cart-totals:before { content: @icon-shopping-cart; }
.icon-w-attachment-image-gallery:before { content: @icon-picture; }
.icon-w-media-gallery-file-filter:before { content: @icon-picture; }
.icon-w-media-gallery-file-list:before { content: @icon-picture; }
.icon-w-media-gallery-folder-tree:before { content: @icon-picture; }
.icon-w-image-gallery:before { content: @icon-picture; }
.icon-w-media-libraries-viewer:before { content: @icon-picture; }
.icon-w-custom-table-datagrid:before { content: @icon-table; }
.icon-w-grid-with-custom-query:before { content: @icon-table; }
.icon-w-custom-table-datalist:before { content: @icon-list; }
.icon-w-grid:before { content: @icon-table; }
.icon-w-table-layout:before { content: @icon-table; }
.icon-w-sharepoint-datagrid:before { content: @icon-table; }
.icon-w-grid-for-rest-service:before { content: @icon-table; }
.icon-w-grid-for-web-service:before { content: @icon-cogwheels; }
.icon-w-custom-table-datagrid:before { content: @icon-table; }
.icon-w-basic-datalist:before { content: @icon-list; }
.icon-w-sharepoint-datalist:before { content: @icon-list; }
.icon-w-datalist-with-custom-query:before { content: @icon-database; }
.icon-w-datalist:before { content: @icon-list; }
.icon-w-my-friends:before { content: @icon-heartshake; }
.icon-w-request-friendship:before { content: @icon-heartshake; }
.icon-w-friends-list:before { content: @icon-list; }
.icon-w-my-pending-requests:before { content: @icon-heartshake; }
.icon-w-friends-viewer:before { content: @icon-heartshake; }
.icon-w-rejected-friends:before { content: @icon-times-circle; }
.icon-w-friends-waiting-for-approval:before { content: @icon-check-circle; }
.icon-w-friendship-management:before { content: @icon-heartshake; }
.icon-w-group-forum-list:before { content: @icon-bubbles; }
.icon-w-group-profile:before { content: @icon-users; }
.icon-w-group-properties:before { content: @icon-users; }
.icon-w-group-forum-post-viewer:before { content: @icon-bubbles; }
.icon-w-group-public-profile:before { content: @icon-users; }
.icon-w-group-forum-search-results:before { content: @icon-magnifier; }
.icon-w-group-registration:before { content: @icon-users; }
.icon-w-group-forums:before { content: @icon-users; }
.icon-w-group-roles:before { content: @icon-users; }
.icon-w-group-invitation:before { content: @icon-message; }
.icon-w-group-security-access:before { content: @icon-lock; }
.icon-w-group-media-libraries:before { content: @icon-pictures; }
.icon-w-department-members-viewer:before { content: @icon-organisational-scheme; }
.icon-w-group-security-message:before { content: @icon-message; }
.icon-w-leave-group:before { content: @icon-arrow-right-rect; }
.icon-w-group-media-libraries-viewer:before { content: @icon-pictures; }
.icon-w-groups-filter:before { content: @icon-funnel; }
.icon-w-group-members:before { content: @icon-users; }
.icon-w-groups-viewer:before { content: @icon-users; }
.icon-w-group-members-viewer:before { content: @icon-users; }
.icon-w-group-contribution-list:before { content: @icon-list; }
.icon-w-chat-on-line-users:before { content: @icon-bubble; }
.icon-w-group-message-board:before { content: @icon-bubbles; }
.icon-w-group-document-library:before { content: @icon-pictures; }
.icon-w-group-message-board-viewer:before { content: @icon-bubbles; }
.icon-w-group-edit-contribution:before { content: @icon-edit; }
.icon-w-group-message-boards:before { content: @icon-bubbles; }
.icon-w-group-forum-most-active-threads:before { content: @icon-bubbles; }
.icon-w-group-permissions:before { content: @icon-permission-list; }
.icon-w-group-forum-recently-active-threads:before { content: @icon-clock; }
.icon-w-custom-registration-form:before { content: @icon-user; }
.icon-w-on-line-form:before { content: @icon-form; }
.icon-w-registration-form:before { content: @icon-user; }
.icon-w-logon-form:before { content: @icon-key; }
.icon-w-logon-mini-form:before { content: @icon-key; }
.icon-w-discount-coupon:before { content: @icon-percent-sign; }
.icon-w-my-account:before { content: @icon-id-card; }
.icon-w-on-line-users:before { content: @icon-user; }
.icon-w-my-profile:before { content: @icon-user; }
.icon-w-user-public-profile:before { content: @icon-user; }
.icon-w-users-filter:before { content: @icon-funnel; }
.icon-w-document-name-filter:before { content: @icon-funnel; }
.icon-w-filter:before { content: @icon-funnel; }
.icon-w-remaining-amount-for-free-shipping:before { content: @icon-percent-sign; }
.icon-w-shipping-option-selection:before { content: @icon-truck; }
.icon-w-tasks-owned-by-me:before { content: @icon-checklist; }
.icon-w-my-projects:before { content: @icon-project-scheme; }
.icon-w-project-list:before { content: @icon-project-scheme; }
.icon-w-project-tasks:before { content: @icon-checklist; }
.icon-w-tasks-assigned-to-me:before { content: @icon-checklist; }
.icon-w-customer-detail:before { content: @icon-user-frame; }
.icon-w-customer-address:before { content: @icon-user-frame; }
.icon-w-liveid-required-data:before { content: @icon-building-block; }
.icon-w-windows-liveid:before { content: @icon-building-block; }
.icon-w-openid-logon:before { content: @icon-brand-open-id; }
.icon-w-openid-required-data:before { content: @icon-brand-open-id; }
.icon-w-powered-by-kentico:before { content: @icon-kentico; }
.icon-w-bing-translator:before { content: @icon-brand-bing; }
.icon-w-static-bing-maps:before { content: @icon-brand-bing; }
.icon-w-basic-bing-maps:before { content: @icon-brand-bing; }
.icon-w-bing-maps:before { content: @icon-brand-bing; }
.icon-w-google-maps:before { content: @icon-brand-google; }
.icon-w-static-google-maps:before { content: @icon-brand-google; }
.icon-w-basic-google-maps:before { content: @icon-brand-google; }
.icon-w-google-activity-feed:before { content: @icon-brand-google-plus; }
.icon-w-google-badge:before { content: @icon-brand-google-plus; }
.icon-w-google-analytics:before { content: @icon-brand-google; }
.icon-w-google-search:before { content: @icon-brand-google; }
.icon-w-google-sitemap-xml-sitemap:before { content: @icon-brand-google; }
.icon-w-google-translator:before { content: @icon-brand-google; }
.icon-w-google-1-button:before { content: @icon-brand-google-plus; }
.icon-w-facebook-activity-feed:before { content: @icon-brand-facebook; }
.icon-w-facebook-comments:before { content: @icon-brand-facebook; }
.icon-w-facebook-connect-logon:before { content: @icon-brand-facebook; }
.icon-w-facebook-facepile:before { content: @icon-brand-facebook; }
.icon-w-facebook-like-box:before { content: @icon-brand-facebook; }
.icon-w-facebook-like-button:before { content: @icon-brand-facebook; }
.icon-w-facebook-recommendations:before { content: @icon-brand-facebook; }
.icon-w-facebook-send-button:before { content: @icon-brand-facebook; }
.icon-w-twitter-feed:before { content: @icon-brand-twitter; }
.icon-w-twitter-follow-button:before { content: @icon-brand-twitter; }
.icon-w-twitter-tweet-button:before { content: @icon-brand-twitter; }
.icon-w-pinterest-follow-button:before { content: @icon-brand-pinterest; }
.icon-w-pinterest-pin-it-button:before { content: @icon-brand-pinterest; }
.icon-w-linkedin-apply-with:before { content: @icon-brand-linkedin; }
.icon-w-linkedin-company-insider:before { content: @icon-brand-linkedin; }
.icon-w-linkedin-company-profile:before { content: @icon-brand-linkedin; }
.icon-w-linkedin-logon:before { content: @icon-brand-linkedin; }
.icon-w-linkedin-member-profile:before { content: @icon-brand-linkedin; }
.icon-w-linkedin-recommend-button:before { content: @icon-brand-linkedin; }
.icon-w-linkedin-required-data:before { content: @icon-brand-linkedin; }
.icon-w-linkedin-share-button:before { content: @icon-brand-linkedin; }
.icon-w-flash-web-part:before { content: @icon-building-block; }
.icon-w-flash-widget:before { content: @icon-cogwheel-square; }
.icon-w-social-bookmarking:before { content: @icon-tags; }
.icon-w-wmp-video:before { content: @icon-building-block; }
.icon-w-youtube-video:before { content: @icon-brand-youtube; }
.icon-w-silverlight-application-web-part:before { content: @icon-building-block; }
.icon-w-silverlight-application-widget:before { content: @icon-cogwheel-square; }
.icon-w-quicktime:before { content: @icon-building-block; }
.icon-w-product-filter:before { content: @icon-box; }
.icon-w-top-n-newest-products:before { content: @icon-box; }
.icon-w-top-n-products-by-sales:before { content: @icon-box; }
.icon-w-similar-products-by-sales:before { content: @icon-box; }
.icon-w-random-products:before { content: @icon-box; }
.icon-w-tag-cloud:before { content: @icon-cloud; }
.icon-w-message-board:before { content: @icon-bubbles; }
.icon-w-accordion-layout:before { content: @icon-accordion; }
.icon-w-columns-layout:before { content: @icon-l-cols-2; }
.icon-w-tabs-layout:before { content: @icon-tab; }
.icon-w-wizard-layout:before { content: @icon-wizard-stick; }
.icon-w-rows-layout:before { content: @icon-l-rows-3; }
.icon-w-new-blog:before { content: @icon-notebook; }
.icon-w-abuse-report:before { content: @icon-restriction-list; }
.icon-w-in-line-abuse-report:before { content: @icon-restriction-list; }
.icon-w-message-board-subscription-confirmation:before { content: @icon-check-circle; }
.icon-w-datalist-for-web-service:before { content: @icon-cogwheels; }
.icon-w-tree-view:before { content: @icon-tree-structure; }
.icon-w-admin-actions:before { content: @icon-chain; }
.icon-w-simple-cookie-law-consent:before { content: @icon-cookie; }
.icon-w-news-list:before { content: @icon-list; }
.icon-w-message-board-unsubscription:before { content: @icon-times-circle; }
.icon-w-keep-alive:before { content: @icon-rotate-double-right; }
.icon-w-donate:before { content: @icon-money-bill; }
.icon-w-donations:before { content: @icon-money-bill; }
.icon-w-payment-form:before { content: @icon-money-bill; }
.icon-w-payment-method-selection:before { content: @icon-money-bill; }
.icon-w-currency-selection:before { content: @icon-dollar-sign; }
.icon-w-analytics-browser-capabilities:before { content: @icon-dialog-window; }
.icon-w-strands-recommendations:before { content: @icon-building-block; }
.icon-w-password-expiration:before { content: @icon-lock; }
.icon-w-message-board-viewer:before { content: @icon-bubbles; }
.icon-w-checkout-process-obsolete:before { content: @icon-building-block; }
.icon-w-category-list:before { content: @icon-list; }
.icon-w-analytics-custom-statistics:before { content: @icon-piechart; }
.icon-w-subscription-approval:before { content: @icon-check-circle; }
.icon-w-widget-actions:before { content: @icon-cogwheel-square; }
.icon-w-message-panel:before { content: @icon-shopping-cart; }
.icon-w-article-list:before { content: @icon-list; }
.icon-w-set-cookie:before { content: @icon-cookie; }
.icon-w-random-document:before { content: @icon-doc; }
.icon-w-edit-contribution:before { content: @icon-edit; }
.icon-w-universal-document-viewer:before { content: @icon-doc; }
.icon-w-custom-response:before { content: @icon-earth; }
.icon-w-collapsible-panel:before { content: @icon-collapse-scheme; }
.icon-w-wishlist:before { content: @icon-star-full; }
.icon-w-latest-news:before { content: @icon-newspaper; }
.icon-w-edit-document-link:before { content: @icon-edit; }
.icon-w-did-you-mean:before { content: @icon-question-circle; }
.icon-w-universal-pager:before { content: @icon-doc-arrows; }
.icon-w-basic-universal-viewer:before { content: @icon-lines-rectangle-o; }
.icon-w-random-redirection:before { content: @icon-arrow-u-right; }
.icon-w-notification-subscription:before { content: @icon-check-circle; }
.icon-w-wizard-buttons:before { content: @icon-wizard-stick; }
.icon-w-universal-viewer:before { content: @icon-lines-rectangle-o; }
.icon-w-report-value:before { content: @icon-x; }
.icon-w-recent-posts:before { content: @icon-notebook; }
.icon-w-object-management-buttons:before { content: @icon-edit; }
.icon-w-wizard-header:before { content: @icon-wizard-stick; }
.icon-w-universal-viewer-with-custom-query:before { content: @icon-database; }
.icon-w-confirmation-checkbox:before { content: @icon-cb-check-preview; }
.icon-w-sharepoint-repeater:before { content: @icon-arrows-crooked; }
.icon-w-register-after-checkout:before { content: @icon-user; }
.icon-w-post-archive:before { content: @icon-list; }
.icon-w-my-invitations:before { content: @icon-message; }
.icon-w-link-button:before { content: @icon-chain; }
.icon-w-contact-list:before { content: @icon-user-frame; }
.icon-w-task-info-panel:before { content: @icon-checklist; }
.icon-w-document-library:before { content: @icon-doc; }
.icon-w-custom-table-form:before { content: @icon-table; }
.icon-w-hierarchical-viewer:before { content: @icon-lines-rectangle-o; }
.icon-w-user-control:before { content: @icon-building-block; }
.icon-w-content-slider:before { content: @icon-carousel; }
.icon-w-blog-post-subscription-confirmation:before { content: @icon-check-circle; }
.icon-w-ignore-list:before { content: @icon-restriction-list; }
.icon-w-document-pager:before { content: @icon-doc-arrows; }
.icon-w-content-subscription:before { content: @icon-check-circle; }
.icon-w-blog-post-unsubscription:before { content: @icon-times-circle; }
.icon-w-text-highlighter:before { content: @icon-highlighter; }
.icon-w-related-documents:before { content: @icon-doc; }
.icon-w-order-note:before { content: @icon-invoice; }
.icon-w-xslt-viewer:before { content: @icon-xml-tag; }
.icon-w-document-wizard-button:before { content: @icon-wizard-stick; }
.icon-w-contribution-list:before { content: @icon-list; }
.icon-w-timer:before { content: @icon-clock; }
.icon-w-shortcuts:before { content: @icon-chain; }
.icon-w-document-wizard-manager:before { content: @icon-wizard-stick; }
.icon-w-cookie-law-consent:before { content: @icon-cookie; }
.icon-w-blog-comments-viewer:before { content: @icon-bubbles; }
.icon-w-sign-out-button:before { content: @icon-arrow-right-rect; }
.icon-w-scrolling-news:before { content: @icon-carousel; }
.icon-w-output-cache-dependencies:before { content: @icon-building-block; }
.icon-w-zones-with-effect:before { content: @icon-layout; }
.icon-w-document-wizard-navigation:before { content: @icon-wizard-stick; }
.icon-w-my-subscriptions:before { content: @icon-permission-list; }
.icon-w-document-wizard-step-action:before { content: @icon-wizard-stick; }
.icon-w-page-views:before { content: @icon-building-block; }
.icon-w-activities:before { content: @icon-ekg-line; }
.icon-w-analytics-chart-viewer:before { content: @icon-piechart; }
.icon-w-analytics-table-viewer:before { content: @icon-table; }
.icon-w-articles-rss-feed:before { content: @icon-rss; }
.icon-w-blog-comments:before { content: @icon-bubbles; }
.icon-w-building-your-on-line-store:before { content: @icon-shopping-cart; }
.icon-w-department-latest-blog-posts:before { content: @icon-notebook; }
.icon-w-department-latest-forum-posts:before { content: @icon-bubbles; }
.icon-w-department-latest-news:before { content: @icon-newspaper; }
.icon-w-department-quick-links:before { content: @icon-chain; }
.icon-w-department-upcoming-events:before { content: @icon-calendar-number; }
.icon-w-documents:before { content: @icon-doc; }
.icon-w-e-commerce-settings-checker:before { content: @icon-cb-check-preview; }
.icon-w-editable-image:before { content: @icon-picture; }
.icon-w-e-mail-queue:before { content: @icon-messages; }
.icon-w-employee-of-the-month:before { content: @icon-user-frame; }
.icon-w-event-management:before { content: @icon-calendar-number; }
.icon-w-eventlog:before { content: @icon-clipboard-list; }
.icon-w-forum-group:before { content: @icon-bubbles; }
.icon-w-forum-posts-waiting-for-approval:before { content: @icon-bubbles; }
.icon-w-group-administrators:before { content: @icon-user; }
.icon-w-group-forum-posts-viewer:before { content: @icon-bubbles; }
.icon-w-group-poll:before { content: @icon-checklist; }
.icon-w-intranet-canteen-menu:before { content: @icon-invoice; }
.icon-w-intranet-departments:before { content: @icon-organisational-scheme; }
.icon-w-intranet-employees:before { content: @icon-users; }
.icon-w-intranet-latest-blog-posts:before { content: @icon-notebook; }
.icon-w-intranet-latest-forum-posts:before { content: @icon-bubbles; }
.icon-w-intranet-latest-news:before { content: @icon-newspaper; }
.icon-w-intranet-poll:before { content: @icon-piechart; }
.icon-w-intranet-quick-links:before { content: @icon-chain; }
.icon-w-intranet-upcoming-events:before { content: @icon-calendar-number; }
.icon-w-latest-blog-posts:before { content: @icon-notebook; }
.icon-w-latest-forum-posts:before { content: @icon-bubbles; }
.icon-w-latest-news-for-corporate-site:before { content: @icon-newspaper; }
.icon-w-link:before { content: @icon-chain; }
.icon-w-media-gallery:before { content: @icon-picture; }
.icon-w-message-list:before { content: @icon-list; }
.icon-w-most-recent-pages:before { content: @icon-list; }
.icon-w-my-accounts:before { content: @icon-building; }
.icon-w-my-blogs:before { content: @icon-notebook; }
.icon-w-my-blogs-comments:before { content: @icon-bubbles; }
.icon-w-my-contacts:before { content: @icon-id-card; }
.icon-w-my-inbox:before { content: @icon-messages; }
.icon-w-my-pending-contacts:before { content: @icon-id-card; }
.icon-w-my-projects-intranet-portal:before { content: @icon-project-scheme; }
.icon-w-my-workgroups:before { content: @icon-briefcase; }
.icon-w-object-recycle-bin:before { content: @icon-bin; }
.icon-w-orders:before { content: @icon-invoice; }
.icon-w-persona-based-recommendations:before { content: @icon-user-frame; }
.icon-w-personal-category-list:before { content: @icon-list; }
.icon-w-products:before { content: @icon-box; }
.icon-w-random-products-for-corporate-site:before { content: @icon-box; }
.icon-w-recent-users:before { content: @icon-user; }
.icon-w-report-daily-sales:before { content: @icon-graph; }
.icon-w-report-monthly-sales:before { content: @icon-graph; }
.icon-w-report-number-of-orders-by-status:before { content: @icon-graph; }
.icon-w-report-sales-by-order-status:before { content: @icon-graph; }
.icon-w-reporting:before { content: @icon-graph; }
.icon-w-rich-text:before { content: @icon-l-list-article; }
.icon-w-scrolling-news-for-corporate-site:before { content: @icon-newspaper; }
.icon-w-system:before { content: @icon-circle-square; }
.icon-w-tasks-assigned-to-me-intranet-portal:before { content: @icon-checklist; }
.icon-w-tasks-owned-by-me-intranet-portal:before { content: @icon-checklist; }
.icon-w-text:before { content: @icon-l-text; }
.icon-w-widget-zone:before { content: @icon-cogwheel-square; }
.icon-w-workgroup-administrators:before { content: @icon-user; }
.icon-w-workgroup-latest-blog-posts:before { content: @icon-notebook; }
.icon-w-workgroup-latest-forum-posts:before { content: @icon-bubbles; }
.icon-w-workgroup-latest-news:before { content: @icon-newspaper; }
.icon-w-workgroup-members:before { content: @icon-users; }
.icon-w-workgroup-messages:before { content: @icon-message; }
.icon-w-workgroup-quick-links:before { content: @icon-chain; }
.icon-w-workgroup-recent-pages:before { content: @icon-list; }
.icon-w-workgroup-upcoming-events:before { content: @icon-calendar-number; }
.icon-w-current-user:before { content: @icon-user; }
.icon-w-disabled-module-info:before { content: @icon-i-circle; }
.icon-w-edit:before { content: @icon-edit; }
.icon-w-edit-parameters:before { content: @icon-edit; }
.icon-w-forum-favorites:before { content: @icon-star-full; }
.icon-w-forum-posts-viewer:before { content: @icon-bubbles; }
.icon-w-forum-subscription-confirmation:before { content: @icon-check-circle; }
.icon-w-header-actions:before { content: @icon-building-block; }
.icon-w-horizontal-tabs:before { content: @icon-tab; }
.icon-w-listing:before { content: @icon-l-list-article; }
.icon-w-edit-bindings:before { content: @icon-edit; }
.icon-w-media-file-uploader:before { content: @icon-pictures; }
.icon-w-messages-placeholder:before { content: @icon-placeholder; }
.icon-w-metafile-list:before { content: @icon-list; }
.icon-w-new-header-action:before { content: @icon-building-block; }
.icon-w-object-edit-panel:before { content: @icon-building-block; }
.icon-w-object-tree-menu:before { content: @icon-tree-structure; }
.icon-w-page-title:before { content: @icon-l-header-text; }
.icon-w-preview-edit:before { content: @icon-edit; }
.icon-w-selector:before { content: @icon-building-block; }
.icon-w-select-site:before { content: @icon-earth; }
.icon-w-theme-file-manager:before { content: @icon-folder-opened; }
.icon-w-tree:before { content: @icon-tree-structure; }
.icon-w-tree-guide:before { content: @icon-tree-structure; }
.icon-w-users-viewer:before { content: @icon-user; }
.icon-w-vertical-tabs:before { content: @icon-tab-vertical; }

.icon-file-default:before { content: @icon-doc-o; }
.icon-file-3gp:before { content: @icon-clapperboard; }
.icon-file-accdb:before { content: @icon-database; }
.icon-file-ai:before { content: @icon-bezier-scheme; }
.icon-file-ascx:before { content: @icon-doc-user; }
.icon-file-aspx:before { content: @icon-doc; }
.icon-file-au:before { content: @icon-note; }
.icon-file-avi:before { content: @icon-clapperboard; }
.icon-file-bat:before { content: @icon-dialog-window-cogwheel; }
.icon-file-bmp:before { content: @icon-picture; }
.icon-file-cs:before { content: @icon-c-sharp; }
.icon-file-css:before { content: @icon-palette; }
.icon-file-csv:before { content: @icon-table; }
.icon-file-dbm:before { content: @icon-database; }
.icon-file-doc:before { content: @icon-rectangle-paragraph; }
.icon-file-eps:before { content: @icon-bezier-scheme; }
.icon-file-flv:before { content: @icon-clapperboard; }
.icon-file-gif:before { content: @icon-picture; }
.icon-file-html:before { content: @icon-xml-tag; }
.icon-file-jpeg:before { content: @icon-picture; }
.icon-file-js:before { content: @icon-braces; }
.icon-file-mdb:before { content: @icon-database; }
.icon-file-mid:before { content: @icon-note; }
.icon-file-mov:before { content: @icon-clapperboard; }
.icon-file-mp3:before { content: @icon-note; }
.icon-file-mp4:before { content: @icon-clapperboard; }
.icon-file-mpeg:before { content: @icon-note; }
.icon-file-mpg:before { content: @icon-clapperboard; }
.icon-file-mpg4:before { content: @icon-clapperboard; }
.icon-file-oga:before { content: @icon-note; }
.icon-file-ogg:before { content: @icon-note; }
.icon-file-ogv:before { content: @icon-clapperboard; }
.icon-file-pdf:before { content: @icon-file-pdf; }
.icon-file-png:before { content: @icon-picture; }
.icon-file-pps:before { content: @icon-piechart-lines; }
.icon-file-ppt:before { content: @icon-piechart-lines; }
.icon-file-ps:before { content: @icon-bezier-scheme; }
.icon-file-psd:before { content: @icon-picture; }
.icon-file-rtf:before { content: @icon-rectangle-paragraph; }
.icon-file-sln:before { content: @icon-dialog-window; }
.icon-file-swf:before { content: @icon-clapperboard; }
.icon-file-tif:before { content: @icon-picture; }
.icon-file-tiff:before { content: @icon-picture; }
.icon-file-txt:before { content: @icon-rectangle-paragraph; }
.icon-file-vb:before { content: @icon-vb; }
.icon-file-wav:before { content: @icon-note; }
.icon-file-webm:before { content: @icon-clapperboard; }
.icon-file-wma:before { content: @icon-note; }
.icon-file-wmv:before { content: @icon-clapperboard; }
.icon-file-xls:before { content: @icon-table; }
.icon-file-xml:before { content: @icon-xml-tag; }
.icon-file-xsl:before { content: @icon-xml-tag; }
.icon-file-xslt:before { content: @icon-xml-tag; }
.icon-file-zip:before { content: @icon-folder-belt; }

.icon-me-abstractobjectcollection:before { content: @icon-folder-o; }
.icon-me-binding:before { content: @icon-chain; }
.icon-me-boolean:before { content: @icon-t-f; }
.icon-me-datetime:before { content: @icon-clock; }
.icon-me-double:before { content: @icon-one; }
.icon-me-false:before { content: @icon-f; }
.icon-me-children:before { content: @icon-parent-child-scheme; }
.icon-me-icontext:before { content: @icon-map; }
.icon-me-ilist:before { content: @icon-list; }
.icon-me-imacronamespace:before { content: @icon-drawers; }
.icon-me-info:before { content: @icon-clipboard-list; }
.icon-me-insertmacro:before { content: @icon-braces-octothorpe; }
.icon-me-int32:before { content: @icon-one; }
.icon-me-method:before { content: @icon-cogwheels; }
.icon-me-null:before { content: @icon-circle-slashed; }
.icon-me-number:before { content: @icon-one; }
.icon-me-parent:before { content: @icon-parent-child-scheme-2; }
.icon-me-property:before { content: @icon-clipboard-list; }
.icon-me-referring:before { content: @icon-chain; }
.icon-me-sitebinding:before { content: @icon-chain; }
.icon-me-snippet:before { content: @icon-doc-torn; }
.icon-me-string:before { content: @icon-a-lowercase; }
.icon-me-true:before { content: @icon-t; }
.icon-me-value:before { content: @icon-x; }
.icon-me-exception:before { content: @icon-exclamation-triangle; }


// Special classes for crosshair

.icon-crosshair{
  position: relative;
  display: inline-block;
}


.icon-crosshair:before{
  content: @icon-crosshair-o;
  color: #fff;
  position: absolute;
  left: 0;
  display: inline-block;
}

.icon-crosshair:after{
  content: @icon-crosshair-f;
  position: absolute;
  left: 0;
  display: inline-block;
}



