﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMS.DocumentEngine.Web.UI.CMSTransformation" %><%@ Register TagPrefix="cms" Namespace="CMS.DocumentEngine.Web.UI" Assembly="CMS.DocumentEngine.Web.UI" %>
<%@ Register TagPrefix="cc1" Namespace="CMS.DocumentEngine.Web.UI" Assembly="CMS.DocumentEngine.Web.UI" %><li>
  <span><%# HTMLHelper.HTMLEncode(Convert.ToString(Eval("MenuItemName"))) %></span>
  <cms:SubLevelPlaceHolder runat="server" ID="plcSub" />
</li>
