﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMS.DocumentEngine.Web.UI.CMSTransformation" %><%@ Register TagPrefix="cms" Namespace="CMS.DocumentEngine.Web.UI" Assembly="CMS.DocumentEngine.Web.UI" %>
<%@ Register TagPrefix="cc1" Namespace="CMS.DocumentEngine.Web.UI" Assembly="CMS.DocumentEngine.Web.UI" %><div style="float:left"><a href="<%# Functions.GetUrl(Functions.GetAliasPath()) + "?eventid=" + Eval("NodeID") %>" ><%# Eval("EventName", true) %></a></div>
<div style="float:right"><%# GetEventDateString(Eval("EventDate"),Eval("EventEndDate"),Eval<bool>("EventAllDay")) %></div>
<div style="clear:both; height:0px; line-height:0px;">&nbsp;</div>