﻿<%@ Control Language="C#" AutoEventWireup="true"  Codebehind="ImagePosition.ascx.cs" Inherits="CMSFormControls_Images_ImagePosition" %>

<cms:CMSDropDownList runat="server" ID="drpPosition" CssClass="DropDownField" />
