﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Custom/Masterpages/Default.Master" AutoEventWireup="true" CodeBehind="ChequeDetail.aspx.cs" Inherits="DemoSite.Web.Custom.Templates.ChequeDetail" %>
<asp:Content ID="contentHead" ContentPlaceHolderID="holderHead" runat="server">
</asp:Content>
<asp:Content ID="contentMain" ContentPlaceHolderID="holderMain" runat="server">
    <h1>Cheque Detail</h1>
    <cms:CMSWebPartZone ID="zoneBody" runat="server" />
</asp:Content>
