﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_SmartSearch_SearchAccelerator"
     Codebehind="~/CMSWebParts/SmartSearch/SearchAccelerator.ascx.cs" %>
<cms:CMSButton runat="server" ID="btnAcc" EnableViewState="false" ButtonStyle="Default" />
