﻿<%@ Control Language="C#" AutoEventWireup="true"  Codebehind="Localize.ascx.cs" Inherits="CMSAdminControls_UI_Development_Localize" %>
<asp:Panel runat="server" ID="pnlObjectMenu" CssClass="PortalContextMenu WebPartContextMenu LocalizeMenu">
    <asp:Literal runat="server" id="ltlStrings" EnableViewState="false" />
</asp:Panel>
