﻿<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSInlineControls_AttachmentLightBoxGallery"  Codebehind="AttachmentLightBoxGallery.ascx.cs" %>
<div>
    <asp:PlaceHolder runat="server" ID="plcAttachmentLightBox"></asp:PlaceHolder>
</div>
