﻿.strandsLinkTemplate {
    font-family: "Segoe UI", "Tahoma", sans-serif;
    border-left: 1px solid #aaa;
    color: #222;
    display: inline-block;
    width: 200px;
}

.strandsLinkTemplate * {
    margin: 0;
    padding: 0;
}

.strandsLinkTemplate .uiLight {
    font-family: "Segoe UI Light", "Tahoma", sans-serif;
    font-weight: lighter;
}

.strandsLinkTemplate h1 {
    font-size: 18px;
    margin-left: 8px;
}

.strandsLinkTemplate h2 {
    font-size: 16px;
    margin-top: 8px;
}

.strandsLinkTemplate ul {
    list-style: none;
}


.strandsLinkTemplate li {
    border-top: 8px solid #f6f6f6;
    margin-top: 6px;
    margin-bottom: 12px;
    padding-top: 20px;
}

.strandsLinkTemplate span {
    display: block;
    margin-left: 24px;
    font-size: 12px;
    margin-top: 6px;
    color: #999;
    font-style: italic;
}

.strandsLinkTemplate a {
    margin-left: 18px;
    display: inline-block;
    clear: both;
    color: #333;
}

.strandsLinkTemplate img {
    max-width: 160px;
    max-height:160px;
}

.strandsLinkTemplate a:hover {
    text-decoration: none;
}
