﻿<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_Settings_FormControls_SelectDocumentOrder"  Codebehind="SelectDocumentOrder.ascx.cs" %>
<cms:CMSDropDownList ID="drpSelectOrder" runat="server" CssClass="DropDownField" />
