﻿<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_Settings_FormControls_SelectPermissions"  Codebehind="SelectPermissions.ascx.cs" %>
<cms:CMSDropDownList ID="drpSelectPermissions" runat="server" CssClass="DropDownField" />