﻿<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_Settings_FormControls_SelectEmailFormat"  Codebehind="SelectEmailFormat.ascx.cs" %>
<cms:CMSDropDownList ID="drpSelectFormat" runat="server" CssClass="DropDownField" />
