﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_MediaLibrary_InlineControls_MediaFileControl"  Codebehind="MediaFileControl.ascx.cs" %>

<asp:Literal ID="ltlOutput" runat="server" EnableViewState="false" />