﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMS.DocumentEngine.Web.UI.CMSTransformation" %><%@ Register TagPrefix="cms" Namespace="CMS.DocumentEngine.Web.UI" Assembly="CMS.DocumentEngine.Web.UI" %>
<%@ Register TagPrefix="cc1" Namespace="CMS.DocumentEngine.Web.UI" Assembly="CMS.DocumentEngine.Web.UI" %><a name="FAQ<%# Eval("FAQID") %>"></a><strong><%# Eval("FAQQuestion",true) %></strong><br />
<%# Eval("FAQAnswer") %><br/>
<br />&nbsp;<br />