﻿@model DemoMVC.Domain.Data.Form_DemoSite_ContactUs
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@using (Html.BeginForm("PostForm", "Home", FormMethod.Post))
{
    var htmlAttributes = new Dictionary<string, object>();

    htmlAttributes.Add("class", "form-control");
    <div class="form">
        <div>
            @Html.Label("First Name")
            @Html.TextBoxFor(m=>m.FirstName, htmlAttributes)
        </div>
        <div>
            @Html.Label("Last Name")
            @Html.TextBoxFor(m => m.LastName, htmlAttributes)
        </div>
        <div>
            @Html.Label("Email")
            @Html.TextBoxFor(m => m.Email, htmlAttributes)
        </div>
        <div>
            @Html.Label("Comments")
            @Html.TextAreaFor(m=>m.Comments, htmlAttributes)
        </div>
        <div>
            <input type="submit" value="Submit" class="form-control" />
        </div>
    </div>
}