﻿<div class="js-st-collapsed" style="display: {{ collapsed ? "block" : "none" }} ">
    <i class="icon-light-bulb"></i>
    {{ collapsedHeader }}
    <a class="js-st-expand">{{ resources["smarttip.expand"] }}</a>
</div>
<div class="js-st-expanded" style="display: {{ collapsed ? "none" : "block" }} ">
    <div class="alert-dismissable alert alert-smarttip">
        <span class="alert-icon">
            <i class="icon-light-bulb"></i><span class="sr-only">{{ resources["smarttip.smarttip"] }}</span>
        </span>
        <div class="alert-label">
            <div class="header"> {{ expandedHeader }} </div>
            <div class="js-st-content"> {{ content }} </div>
        </div>
        <a class="js-st-collapse">
            <span class="alert-close">
                <i class="close icon-modal-close"></i>
                <span class="sr-only">{{ resources["general.collapse"] }}</span>
            </span>
        </a>
    </div>
</div>